/* ===== ROOM LIST ===== */

.room-card{
    display:flex;
    background:white;
    border-radius:10px;
    margin:20px auto;
    width:85%;
    box-shadow:0 3px 10px rgba(0,0,0,0.15);
    overflow:hidden;
}

.room-img{
    width:250px;
    object-fit:cover;
}

.room-info{
    padding:20px;
    flex:1;
}

.room-type{
    font-size:22px;
    font-weight:bold;
}

.room-price{
    font-size:20px;
    color:#ff5a00;
    font-weight:bold;
    margin-top:10px;
}

.room-btn{
    display:inline-block;
    margin-top:15px;
    background:#2563eb;
    color:white;
    padding:8px 18px;
    border-radius:6px;
    text-decoration:none;
}

.room-btn:hover{
    background:#1e4fc1;
}